<div class="todo-container">
    <div class="todo-container__top">
        <h2 class="todo-container__title">All ToDo’s</h2>
        <button class="todo-container__addBtn" (click)="openAddModal(addToDo)">Add a ToDo <img
                src="/assets/img/plus.png" alt=""></button>
    </div>
    <div class="todo-wrapper" *ngFor="let todo of userToDo; let i=index">
        <div class="todo-container__box todo-field">
            <div class="todo-field__task">
                <input type="checkbox" [checked]="todo.completed" (click)="change(i)">
                <span [style.text-decoration]="todo.completed ? 'line-through' : 'none'" >{{ todo.title }}</span>
            </div>
            <div class="todo-field__btns">
                <button><img src="/assets/img/edit.png" alt="" (click)="openEditModal(editToDo)" (click)="editTodo(todo)"></button>
                <button><img src="/assets/img/delete.png" alt="" (click)="openDeleteModal(deleteToDo)"></button>
            </div>
        </div>

        <ng-template #deleteToDo>
            <div class="modal-header">
                <div class="modal-header__close">
                    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                        <span aria-hidden="true"><img src="/assets/img/closed.svg" alt=""></span>
                    </button>
                </div>
                <div class="modal-title">
                    <h1 class="modal-title">Removing a ToDo</h1>
                    <span class="modal-title__deltext">Are you sure you want to remove this ToDo? It would be impossible to
                        restore it afterwards</span>
                </div>
            </div>
            <div class="modal-body">
                <span>{{ todo.title }}</span>
                <button class="modal-body__deleteBtn" type="button" (click)="deleteTodo(todo)" (click)="modalRef.hide()">
                    Yes, Remove ToDo
                </button>
            </div>
        </ng-template>
</div>

<ng-template #addToDo>
    <div class="modal-header">
        <div class="modal-header__close">
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true"><img src="/assets/img/closed.svg" alt=""></span>
            </button>
        </div>
        <div class="modal-title">
            <h1 class="modal-title">Add a ToDo</h1>
        </div>
    </div>
    <div class="modal-body">
        <textarea class="modal-body__text" [(ngModel)]="todoTitle" name="todoTitle" placeholder="Start typing ..."></textarea>
        <button [style.background]="todoTitle === '' ? '#D0D0D0' : 'linear-gradient(270deg, #1EA39B 0%, #38EF7D 100%)'" (click)="addTodo()" (click)="modalRef.hide()" class="modal-body__saveBtn" type="button" [disabled]="todoTitle === ''">
            <span></span>
            Save ToDo
            <img class="modalSaveBtn-arrow" src="/assets/img/Vector.png" alt="">
        </button>
    </div>
</ng-template>

<ng-template #editToDo>
    <div class="modal-header">
        <div class="modal-header__close">
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true"><img src="/assets/img/closed.svg" alt=""></span>
            </button>
        </div>
        <div class="modal-title">
            <h1 class="modal-title">Edit a ToDo</h1>
        </div>
    </div>
    <div class="modal-body">
        <textarea class="modal-body__text" [(ngModel)]="todoTitle" name="" id=""></textarea>
        <button class="modal-body__saveEditBtn" type="button" (click)="saveEdit()" (click)="modalRef.hide()">
            <span></span>
            Save ToDo
            <img class="modalSaveBtn-arrow" src="/assets/img/Vector.png" alt="">
        </button>
    </div>
</ng-template>
